name: Run News Publisher

on:
  schedule:
      # - cron: '0 */4 * * *'  # 每4小时运行一次
    - cron: '0 8 * * *'  # 每天8点运行一次
  workflow_dispatch:  # 允许手动触发

jobs:
  run-worker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        name: 检出代码
      
      - name: 设置 Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.12'
      
      - name: 安装依赖
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      
      - name: 运行任务
        run: python main.py
        env:
          DB_HOST: ${{ secrets.DB_HOST }}
          DB_USER: ${{ secrets.DB_USER }}
          DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
          DB_NAME: ${{ secrets.DB_NAME }}
